---
title: Tjaco Oostdijk - Vibes
---
%section
  %ul.accordion-tabs-minimal
    %li.tab-header-and-content
      %a.tab-link.is-active{:href => "#"} Technologies
      .tab-content
        = partial 'live'
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Vibesworkshop
      .tab-content
        = partial 'vibesworkshop'
