---
title: Homepage Tjaco Oostdijk
---

%section
  .hero
    .hero-inner
      .hero-copy
        %h1 Tjaco Oostdijk | Drummer - Vibist - Hacker
  .cards
    .card
      .card-image
        = link_to image_tag("../assets/images/drs.jpg"), '#' #'drums'
      .card-header
        Drums
      .card-copy
        %p As a drummer I'm always looking for the right groove. Interested? Get in touch or check out my drum section.
    .card
      .card-image
        = link_to image_tag("../assets/images/vibes.jpg"), '#' #'vibes'
      .card-header
        Vibraphone
      .card-copy
        %p Say What!? Yes, vibraphone. You know that xylophone with the metal bars. Check out my vibes pages here.
    .card
      .card-image
        = link_to image_tag("../assets/images/code.png"), '#' 'dev'
      .card-header
        Web Developer
      .card-copy
        %p I like to create and that drove me to web development. Intrigued to see if I can make things using technology that will make people smile. :)
  %section
    .hero
      .hero-inner
        .hero-copy
          %h2
            %i Hi! I'm currently rebuilding my website. If you'd like to get in touch. please contact me at: info-at-drumusician.com
