%h3 Need a drummer? 
%p Please contact me if you need a drummer for your band. I have experience in a wide variety of styles. Check out my exams at the conservatory below:
%hr
%iframe{:frameborder => "no", :height => "400", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2581161&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false", :width => "75%"}
%hr
%iframe{:frameborder => "no", :height => "400", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2581670&color=ff9900&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false", :width => "75%"}
