%h2 Services
%p Please feel free to contact me for any of the services below. I'm always open to great projects and ideas, so it please don't hesitate to get in touch.
%hr
%h3 Subsitution gigs
%p I have a lot of experience substituting for drummers in a lot of different styles. Pop / Covers / Jazz bands have always been very happy with my services as a substitute. I always come prepared so you probably won't even notice there is a different drummer there... :)
%hr
%h3 Contact me
%p please contact me if you have any questions. info@drumusician.com or 06-26904816 
