%h2 Drum Lessons
%p I currently teach at the 'Hart Muziekschool' in Haarlem and still have some spots left if you are interested in drum lessons. My main goal with the lessons is to make sure you learn something that you are interested in yourself. So the starting point is always your musical interest. After that I will discuss expectations and shift the focus of my lessons accordingly. For me the goal of what a student wants ti achieve is the deciding factor on what I present to the student. If ambition is high, I'll push hard! If the fun factor is the goal, I'll be at ease :) Your call!
