---
title: Tjaco Oostdijk - Drummer
---
%section
  %ul.accordion-tabs-minimal
    %li.tab-header-and-content
      %a.tab-link.is-active{:href => "#"} Live!
      .tab-content
        = partial 'live'
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Drum Lessons
      .tab-content
        = partial 'teaching'
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Gear 
      .tab-content
        = partial 'gear'
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Services
      .tab-content
        = partial 'services'