---
title: Tjaco Oostdijk - Developer
---
%section
  %ul.accordion-tabs-minimal
    %li.tab-header-and-content
      %a.tab-link.is-active{:href => "#"} Technologies
      .tab-content
        = partial 'technology'
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Experience
      .tab-content
        = partial 'experience'
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} What do you need?
      .tab-content
        = partial 'service'